.welcome_section_container {
  width: 100%;
  min-height: 82vh;
  background: linear-gradient(
    90deg,
    rgba(0, 159, 255, 0.2) 0%,
    rgba(0, 159, 255, 0.2) 35%,
    rgba(0, 212, 255, 0.2) 100%
  );
  padding: 0 100px;
}

.welcome-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.welcome_left {
  padding: 50px 0;
}

.welcome_left h4 {
  font-family: var(--font-family);
  font-size: 18px;
  color: var(--main-color);
  height: 18px;
  line-height: 18px;
  border-left: 2px solid var(--main-color);
  padding-left: 15px;
  margin-bottom: 20px;
}

.welcome_left h1 {
  font-family: var(--font-family);
  font-size: 44px;
  color: #000;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 50px;
}

.welcome_left > p {
  color: #000;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  width: 400px;
  margin-bottom: 20px;
}

.welcome_left a {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  padding: 10px 12px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 15px;
  line-height: 14px;
  transition: 0.3s;
}

.welcome_left a:hover {
  background-color: var(--secondary-color);
}

.review_count {
  margin-top: 30px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
}

.review_count p:nth-child(1) {
  font-size: 28px;
  font-family: var(--font-family);
  font-weight: 700;
  color: #000;
  gap: 40px;
  margin-bottom: 5px;
}

.review_count p:nth-child(2) {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 500;
  color: #000;
}

.welcome_right {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.welcome_right .video_container {
  width: 400px;
  height: 400px;
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.welcome_right img {
  width: fit-content;
  height: 82vh;
  margin: 0 auto;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .welcome_section_container {
    padding: 0 30px;
  }

  .welcome_left h4 {
    font-size: 14px;
    height: 14px;
  }

  .welcome_left h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .welcome_left > p {
    width: 300px;
    font-size: 12px;
    line-height: 14px;
  }

  .welcome_left a {
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 5px;
  }

  .review_count {
    margin-top: 20px;
    width: 300px;
    row-gap: 5px;
  }
  .review_count p:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
    gap: 8px;
    margin-bottom: 0px;
  }
  .review_count p:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
  }

  .welcome_right {
    overflow: hidden;
  }

  .welcome_right img {
    height: 92vh;
  }
}

@media screen and (max-width: 480px) {
  .welcome_right img {
    padding-top: 20px;
    height: 300px;
    background-color: linear-gradient(
      356deg,
      rgba(0, 159, 255, 0.2) 0%,
      rgba(0, 212, 255, 0.2) 23%,
      rgba(0, 159, 255, 0) 100%
    );
    z-index: 1;
  }
  .welcome-grid {
    grid-template-columns: 1fr;
  }
  .welcome_right {
    grid-area: 1/1;
  }

  /* .welcome-grid > .welcome_left {
    grid-column: 2;
  }
  .welcome-grid > .welcome_right {
    grid-column: 1;
  } */
}
