@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --main-color: #009fff;
  --main-color-opacity: #b7e1fc;
  --secondary-color: #00ee95;
  --color-black: #031d36;
  --font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
